<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Donald Trump News</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">CNN</a></li>
                    <li><a href="/twitter">Twitter</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div id="loading" style="position: absolute; width: 100%; height: 100%; text-align: center; padding-top: 5.5em; font-size: 5.5rem; color: #5e5e5e;">
            The crawler is working, please wait a moment<span id="animate">...</span>
        </div>
        <div class="container col-md-5" style="padding-left:5em; padding-right: 2em;overflow: auto;display:none;">
        </div>
        <div class="container col-md-7" style="padding-left:2em;padding-right:5em; display:none;border-left: 0.15rem solid #B6B4B6;">

            <div class="page-header">
                <h1 id="news_title">No Data found</h1>
            </div>
            <p id="news_time" style="color: #5e5e5e;font-weight: bolder">Updated 5:36 PM ET, Tue January 8, 2019 </p>
            <div id="news_content" style="font-size: larger">

            </div>

        </div>
    </div>
</body>

<script>
    function toggle(){
        $("#animate").fadeOut(1300,function () {
            $("#animate").fadeIn(1300, toggle());
        });
    }
    toggle();

    function showArticle(tag){
        $("#news_content").text("");
        $("#news_title").text(articles[tag].title);
        $("#news_time").text(articles[tag].time);

        for(let i=0;i<articles[tag].paragraphs.length;i++){
            $("#news_content").append(articles[tag].paragraphs[i]);
        }

        if(articles[tag].paragraphs.length == 0){
            $("#news_content").text("Sorry, the crawler found nothing...");
        }
    }

    articles = [];

    $.ajax({
        url :"/getArticles",
        type : 'POST',
        headers:{"X-CSRFToken":$('[name="csrfmiddlewaretoken"]').val()},
        success : function(data){
            articles = data;
            console.log(data);
            console.log(articles[0]);

            for(let i=0; i<articles.length; i++){
                $(".col-md-5").append('<div class="page-header"><a style="font-size: x-large;" onclick="showArticle(' + i + ')" id="art' + i +'">'+
                    articles[i].title+'</a></div>')
            }

            showArticle(0);


            $("#loading").hide();
            $(".container").show();
        }

    });



</script>

</html>